@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,900,900i");
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 13px/1.65 "Poppins", Futura, Helvetica, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  margin: 0%;
  padding: 0;
  width: 100%;
  border: 0px solid #000;
  overflow: visible; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 11.375px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #ff5252;
  text-decoration: none; }
  a:visited {
    color: #ff5252; }
  a:hover {
    color: #000;
    text-decoration: none; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #cfcfcf;
  padding-left: 15px;
  font-size: 14.625px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 12.1875px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      padding-right: 0px;
      padding-left: 0px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.social-media-list .icon {
  padding-right: 5px; }
.social-media-list li + li {
  padding-top: 5px; }

/**
 * Site header
 */
.site-header {
  padding: 7.5px 30px;
  border-top: 0px solid #424242;
  min-height: 30px;
  position: relative; }
  @media screen and (max-width: 800px) {
    .site-header {
      padding-right: 15px;
      padding-left: 15px; } }

a.navbar-brand, a.nav-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 26.8125px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #000; }
  a.navbar-brand:hover, a.nav-link:hover {
    color: #ff5252; }
  @media screen and (max-width: 600px) {
    a.navbar-brand, a.nav-link {
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 32.175px; } }
  @media (min-width: 600px) and (max-width: 1024px) {
    a.navbar-brand, a.nav-link {
      text-transform: uppercase;
      letter-spacing: 0px; } }

.navbar-toggler {
  padding: 0 3.75px; }

.navbar-toggler-icon {
  width: 1em; }

a.site-title:hover::after {
  content: "«Sai sempre prémio!»";
  position: absolute;
  margin-left: 10px;
  font-size: 9.75px;
  color: #828282;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-transform: none; }

h2.panel-title {
  padding: 15px 0; }
  h2.panel-title:hover {
    color: #111; }

.categories {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11.05px;
  line-height: 48.2625px;
  color: #828282;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center; }
  .categories.top-right {
    text-align: right;
    color: #000; }
  @media screen and (max-width: 600px) {
    .categories {
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 21.45px; } }
  @media (min-width: 600px) and (max-width: 1024px) {
    .categories {
      text-transform: uppercase;
      letter-spacing: 0px; } }

.categories-with-bar::before {
  content: "{";
  position: absolute;
  margin-left: -10px; }
.categories-with-bar::after {
  content: "}";
  position: absolute;
  margin-left: 5px; }

@media screen and (max-width: 600px) {
  .p-autores .site-title, .p-autores .categories.top-right, .p-autores .categories {
    text-align: center;
    display: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32.175px; } }

.site-nav {
  float: right;
  line-height: 16.0875px;
  margin-top: 0px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.65; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      text-align: right; }
      .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg path {
          fill: #424242; }
      .site-nav input ~ .trigger {
        clear: both;
        display: none; }
      .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

@media screen and (max-width: 600px) {
  .pos-absol {
    position: absolute;
    right: 25px;
    top: 15px; } }

.toggle-panel {
  display: inline-block;
  margin-top: 10px;
  border: 1px solid #ff5252;
  padding: 0 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  @media screen and (max-width: 600px) {
    .toggle-panel {
      margin-top: 5px;
      margin-left: -5px; } }
  .toggle-panel .barra {
    width: 20px;
    height: 1px;
    background-color: #ff5252;
    margin: 5px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .toggle-panel.close {
    margin-right: 10px;
    margin-top: 25px; }
    @media screen and (max-width: 600px) {
      .toggle-panel.close {
        margin-right: 0;
        margin-top: 20px; } }

.close {
  position: absolute;
  right: 14px;
  width: 25px;
  height: 25px;
  opacity: 1; }

.close:hover {
  opacity: 0.3; }

.close:before, .close:after {
  position: absolute;
  left: 11px;
  content: ' ';
  height: 22px;
  width: 1px;
  background-color: #ff5252; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

#scotch-panel {
  border-left: 1px solid #000; }
  #scotch-panel h2.panel-title {
    padding-left: 30px;
    text-align: center; }
    @media screen and (max-width: 600px) {
      #scotch-panel h2.panel-title {
        padding-left: 0; } }
  #scotch-panel .multi-menu {
    padding: 0;
    font-size: 9.75px; }
    #scotch-panel .multi-menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-top: 1px #000 solid;
      border-right: 1px #000 solid; }
      #scotch-panel .multi-menu ul ul {
        border: 0; }
    #scotch-panel .multi-menu li a {
      display: block;
      text-align: center;
      padding: 10px 10px;
      border-bottom: 1px #000 solid;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 2px; }
      #scotch-panel .multi-menu li a span {
        color: #ff5252; }
      #scotch-panel .multi-menu li a.letra {
        background-color: #cfcfcf;
        color: #000; }
        @media screen and (max-width: 768px) {
          #scotch-panel .multi-menu li a.letra {
            border-bottom: 1px #fff solid; } }
      #scotch-panel .multi-menu li a:hover, #scotch-panel .multi-menu li a:focus {
        background-color: #ff5252;
        color: #fff;
        text-decoration: none; }
        #scotch-panel .multi-menu li a:hover span, #scotch-panel .multi-menu li a:focus span {
          color: #fff; }
      #scotch-panel .multi-menu li a:active, #scotch-panel .multi-menu li a.active {
        background-color: #cfcfcf;
        color: #000;
        text-decoration: none; }
      #scotch-panel .multi-menu li a.active.collapsed {
        background-color: transparent;
        color: #000; }

.no-margin {
  margin: 0; }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #000;
  padding: 15px 0;
  min-height: 30px;
  line-height: 21.45px; }
  .site-footer .categories {
    line-height: 21.45px; }

.footer-heading {
  font-size: 14.625px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 12.1875px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
.footer-right, .footer-left {
  padding: 15px 60px; }
  @media screen and (max-width: 600px) {
    .footer-right, .footer-left {
      padding: 15px 30px; } }

/**
 * Page content
 */
.page-content {
  padding: 0; }

.page-heading {
  font-size: 16.25px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 11.375px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 19.5px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 16.25px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 19.5px; } }

.post-content {
  padding: 60px 60px 30px 60px;
  margin-bottom: 0;
  border-left: 1px solid #000; }
  @media screen and (max-width: 600px) {
    .post-content {
      padding: 30px; } }
  .post-content h2 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 22.75px; } }
  .post-content h3 {
    font-size: 21.125px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 17.875px; } }
  .post-content h4 {
    font-size: 16.25px;
    margin-bottom: 30px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 14.625px; } }

.subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 9.75px;
  color: #828282;
  font-weight: 400; }

.post-img {
  padding-right: 0;
  background-color: whitesmoke; }

/**
 * autores
 */
.mywrapper {
  padding: 30px; }
  @media screen and (max-width: 600px) {
    .mywrapper {
      padding: 15px; } }

.lista-imagens {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 2px solid #ff5252; }
  .lista-imagens .categories {
    line-height: 21.45px;
    display: block;
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700; }
  .lista-imagens ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .lista-imagens ul li {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 0px solid #cfcfcf; }
  .lista-imagens a {
    display: block;
    margin-top: 10px;
    line-height: 19.305px;
    font-size: 11.05px; }
  .lista-imagens .ano {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11.05px;
    line-height: 19.305px; }

.listinha {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .listinha .categories {
    line-height: 21.45px;
    display: block;
    text-align: left;
    margin-top: 30px;
    padding-bottom: 10px; }
  .listinha ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .listinha ul li:first-of-type {
      display: none;
      visibility: hidden;
      height: 0;
      width: 0;
      overflow: hidden; }
    .listinha ul li {
      padding: 10px 0;
      border-top: 1px solid #000; }
    .listinha ul .autor {
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 3px;
      font-size: 11.05px; }
    .listinha ul .contributor {
      font-size: 9.75px; }
  .listinha.imagens-indice .categories {
    display: block;
    text-align: center; }
  .listinha.imagens-indice li.indice-livro {
    padding: 0;
    border: 1px solid #cfcfcf; }
  .listinha.imagens-indice .livrinho {
    padding: 15px 15px 7.5px 0; }
    @media screen and (max-width: 600px) {
      .listinha.imagens-indice .livrinho {
        padding: 7.5px 7.5px 7.5px 7.5px; } }
    .listinha.imagens-indice .livrinho .autor {
      font-size: 9.75px;
      line-height: 16.0875px; }

/**
 * imagens
 */
.card-columns {
  column-count: 6; }
  @media (min-width: 600px) and (max-width: 1024px) {
    .card-columns {
      column-count: 4; } }
  @media screen and (max-width: 600px) {
    .card-columns {
      column-count: 1; } }
  .card-columns .card {
    border: 0; }

/**
 * imagens gerador de índices
 */
@media print {
  @page {
    size: A4 landscape; }
  body {
    font-family: Georgia, serif; }

  .indice-livro {
    width: 200px; }

  a.site-title {
    text-align: center;
    display: block; }

  .listinha ul .autor {
    letter-spacing: 0px;
    font-size: 8px; }

  .livrinho a.h6 {
    font-size: 12px; }

  .dontprint {
    display: none; }

  .site-header {
    padding: 0 10px 10px 10px; }

  .mywrapper {
    padding: 0 50px; }

  body {
    font-size: 8.45px; } }
/**
 * páginas
 */
span.smcaps {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11.05px; }

blockquote {
  color: #111;
  border-left: 0;
  padding-left: 30px;
  font-size: 11.7px;
  letter-spacing: 0px;
  font-style: normal; }

.toc-item {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11.05px; }

.page p:first-of-type {
  margin-bottom: 0px; }
.page h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12.35px; }
.page .txt {
  padding: 15px 30px; }
  .page .txt h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 17.55px;
    margin-top: 0px; }
  .page .txt h6 {
    margin-bottom: 3px;
    margin-top: 30px; }
.page h6.small {
  line-height: 16.0875px;
  font-size: 8.45px; }

#markdown-toc {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #markdown-toc li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11.05px; }

.page-break.g-visible.um:before {
  content: "p. 4";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dois:before {
  content: "p. 6";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.tres:before {
  content: "p. 8";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.quatro:before {
  content: "p. 10";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.cinco:before {
  content: "p. 12";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.seis:before {
  content: "p. 14";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.sete:before {
  content: "p. 16";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.oito:before {
  content: "p. 18";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.nove:before {
  content: "p. 20";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dez:before {
  content: "p. 22";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.onze:before {
  content: "p. 24";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.doze:before {
  content: "p. 26";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.treze:before {
  content: "p. 28";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.catorze:before {
  content: "p. 30";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.quinze:before {
  content: "p. 32";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.desassseis:before {
  content: "p. 34";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.desassete:before {
  content: "p. 36";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dezoito:before {
  content: "p. 38";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dezanove:before {
  content: "p. 40";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte:before {
  content: "p. 42";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-um:before {
  content: "p. 44";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-dois:before {
  content: "p. 46";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-tres:before {
  content: "p. 48";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-seis:before {
  content: "p. 50";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-quatro:before {
  content: "p. 52";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-cinco:before {
  content: "p. 54";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.um:after {
  content: "p. 5";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dois:after {
  content: "p. 7";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.tres:after {
  content: "p. 9";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.quatro:after {
  content: "p. 11";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.cinco:after {
  content: "p. 13";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.seis:after {
  content: "p. 15";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.sete:after {
  content: "p. 17";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.oito:after {
  content: "p. 19";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.nove:after {
  content: "p. 21";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dez:after {
  content: "p. 23";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.onze:after {
  content: "p. 25";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.doze:after {
  content: "p. 27";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.treze:after {
  content: "p. 29";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.catorze:after {
  content: "p. 31";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.quinze:after {
  content: "p. 33";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.desassseis:after {
  content: "p. 35";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.desassete:after {
  content: "p. 37";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dezoito:after {
  content: "p. 39";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.dezanove:after {
  content: "p. 41";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte:after {
  content: "p. 43";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-um:after {
  content: "p. 45";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-dois:after {
  content: "p. 47";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-tres:after {
  content: "p. 49";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-seis:after {
  content: "p. 51";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-quatro:after {
  content: "p. 53";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

.page-break.g-visible.vinte-e-cinco:after {
  content: "p. 55";
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 9.75px;
  color: #828282; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
