

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    

  <nav class="navbar navbar-expand-md navbar-light ">
  <div class="mr-auto order-0">
      <a class="navbar-brand  mr-auto" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse ml-auto" id="navbarNav">
    <ul class="navbar-nav ml-auto  order-1">
      <li class="nav-item active ">
        <a class="nav-link " href="bio.html">bio </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="contact.html">contacto</a>
      </li>
    </ul>
  </div>
</nav>


  </div>
